
.DS_Store
*.bak
*.cache
*.code-workspace
*.log
*.lock
*.swap
*.swp
*.sublime-project
*.sublime-workspace
*.txt

*.ast
*.bc
*.ll
*.o
*.tok
deer

.arts/
.codeartsdoer/
.git/
.idea/
.vscode/
bin/
specs/
vendor/
